<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YeShi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94ABFCB01F21E09B009074BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ABFCC41F21E09B009074BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ABFCCF1F21E09B009074BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
